
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f5f5f5;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #fff;
    color: #222;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    color: #222;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.nav-links li a:hover {
    background: #22222223;
}

.btn {
    padding: 8px 15px;
    color: #fff;
    background: #2a91ff;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
    background: #0056b3;
}
#login:hover{
    background: #007bff !important;
}

.btn-register {
    background: #2dbc4e;
}

.btn-register:hover {
    background: #28a745 !important;
}


#hero {
    height: 100vh;
    background: linear-gradient(to right, #007BFF, #28a745);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.hero-content {
    max-width: 600px;
    padding: 20px;
}

.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-buttons .btn {
    margin: 0 10px;
}


footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px 10px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}
