
/*----------------------------------- Variable Declaration--------------------------------------*/
:root{
    --btn-color:#FFC200;
    --bg-color:#F9FAFC;
    --txt-color:#222;
    --txt-colorW:#fff; 
}
/*----------------------------------- Common Style for all --------------------------------------*/
*{
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background:var(--txt-colorW);
    color:var(--txt-color);
}

a {
    text-decoration: none;
    color: inherit;
}

button, .btn{
    padding: 1.2rem 4rem;
    color:var(--txt-color);
    background: var(--btn-color);
    border-radius: 5px;
    font-weight: bold;
    transition:  0.5s ease-in-out;
    border: none;
}

.btn:hover{
    box-shadow: 1px 1px 5px gray;
    transition:  0.5s ease-in-out;
}
/*----------------------------------- Header Section Style --------------------------------------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: var(--bg-color);
    color:var(--txt-color);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    color: var(--txt-color);
    padding: 0.8rem 30px;
    border-radius: 5px;
    transition: background 0.3s;
}

/*----------------------------------- Home Section Style --------------------------------------*/
#home {
    height: 100vh;
    display: grid;
    grid-template-columns: 5fr 7fr;
}

.col-1{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}
.col-1 h1{
    color:var(--txt-color);
    font-size: 3.5vw;
    margin-top: -130px;
    font-weight:600;
}

.col-1 p{
    text-align:center;
}
.col-1 p .para-1{
    color: var(--btn-color);
}

.col-1 .home-buttons{
    margin-top: 1.3rem;
}

.col-1 .home-buttons .btn{
    font-size: 1rem;
    font-family: sans-serif;
    font-weight:600;
}

.col-2{
    width: 100%;
    height: 100%;
}
.col-2 img{
   width: 50rem;
   height: 41rem;;
}
/*----------------------------------- Footer Section Style --------------------------------------*/
footer {
    background: var(--txt-color);
    color: var(--txt-colorW);
    text-align: center;
    padding: 20px 10px;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}


/*--------------------------------------------------------------------------------------------------------------------*/
